@font-face {
    font-family: "Cook";
    src: url(Cook.ttf);
}

.bookWindow {
    display: flex;
    flex-direction: row;
    
    margin-top: 15px;
    margin-bottom: 15px;
}

.flightsPanel {
    width: 50vw;

    border-right: 1px solid #A6683B;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tripsPanel {
    width: 50vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flightListItem {
    width: 46vw;
    margin-left: 2vw;
    margin-right: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;

    height: calc((100vh - 252px) / 6);
}

.flightListTitle {
    width: 48vw;
    margin-left: 1vw;
    margin-right: 1vw;

    font-size: 50px;
    font-family: 'Cook';
    color: #340101;
    text-shadow: #D78952 1px 1px 2px;
    text-align: center;

    background: linear-gradient(rgba(15, 0, 0, 0.95), rgba(61, 18, 0, 0.58));
    border: 1px solid #A6683B;
}

.flightListItemBordered {
    border-bottom: 1px solid #A6683B;
}

.tripPanelItem {
    cursor: pointer;
    width: 46vw;
    margin-left: 2vw;
    margin-right: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;

    height: calc((100vh - 252px) / 5);
}

.tripPanelItem:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.00), rgba(61, 18, 0, 0.95), rgba(0, 0, 0, 0.00));
}

.tripPanelSearchbar {
    width: 48vw;
    margin-left: 1vw;
    margin-right: 1vw;

    font-size: 50px;
    font-family: 'Cook';
    color: #340101;
    text-shadow: #D78952 1px 1px 2px;
    text-align: center;

    background: linear-gradient(rgba(15, 0, 0, 0.95), rgba(61, 18, 0, 0.58));
    border: 1px solid #A6683B;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    height: calc((100vh - 252px) / 5);
}

.tripDestinationDropdown {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.dropdownOption {
    cursor: pointer;
    font-size: 40px;
    color: #340101;
    text-shadow: #D78952 1px 1px 2px;
    background: radial-gradient(rgba(49, 22, 0, 0.95), rgba(234, 118, 69, 0.58));
    text-align: center;
    
    border-radius: 1vh;
    border: 1px solid rgba(61, 18, 0, 0.58);
}

.dropdownOption:hover {
    background: radial-gradient(rgba(49, 22, 0, 0.79), rgba(234, 118, 69, 0.42));
}