@font-face {
    font-family: "Cook";
    src: url(Cook.ttf);
}

.session {
    display: flex;
    flex-direction: column;
    background-image: url("/img/sessionBackground.jpg");
    background-position: center;
    height: 100vh;
}

.sessionBanner {
    display: flex;
    flex-direction: column;

    font-size: 100px;
    font-family: 'Cook';
    color: #340101;
    text-shadow: #D78952 1px 1px 4px;
    text-align: center;

    height: 222px;
}

.sessionTitleText {
    background: linear-gradient(rgba(0, 0, 0, 0.69), rgb(34, 10, 0));
}

.sessionToolbar {
    display: flex;
    flex-direction: row;
    
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgb(38, 14, 4));

    border-top: 1px solid #A6683B;
    border-bottom: 1px solid #A6683B;
}

.toolbarButton {
    width: 34vw;
    font-size: 45px;

    margin-top: 1vh;
    margin-bottom: 1vh;

    cursor: pointer;
}

.toolbarButton:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgb(38, 14, 4));
}

.toolbarMiddleButton {
    border-left: 1px solid #A6683B;
    border-right: 1px solid #A6683B;
}

.sessionView {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    height: calc(100vh - 222px);
    background: linear-gradient(rgba(25, 6, 0, 0.96), rgba(16, 6, 2, 0.96));
}
